.#*
*.sml~
*.sig
*.ui
*.uo
*.dat
*Theory.*
*.hollogs*
*.HOLMK*
*Holmakefile
*.hol-vscode
.DS_Store
hol_commands.md
*.txt
*.ipynb
# Ignore files with single hash at start and end
#*Script.sml#

# Ignore files with double hash at start and end
##*Script.sml##

# Ignore all files that start and end with any number of hashes
[#]*Script.sml[#]*